.loginContainer {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loginContent {
  border: 1px solid black;
  width: 22vw;
  padding: 1.5rem 1.8rem 2rem;

  img {
    height: 14%;
    width: 100%;
    object-fit: cover;
  }
}
