.inputContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 1.5rem;

  p {
    margin-left: 0.4rem;
  }

  input {
    width: 100%;
    margin: 0.65rem 0 0;
    padding: 0.3rem;
  }

  .inputErrorMsg {
    margin-top: 0.2rem;
    color: tomato;
  }
}
