.button {
  width: 100%;
  padding: 0.9rem;
  margin-top: 0.5rem;
}

.blueButton {
  width: 100%;
  padding: 0.9rem;
  margin-top: 0.5rem;

  background: #36a5ff;
  color: #fff;

  border: none;
  font-size: 1.2rem;
}
